body{
  margin: 0;
  box-sizing: border-box;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
 .card{
    border: 1px solid #7e7eae ;
    padding-left: 10px;
    margin:10px auto;
    border-radius: 14px;
    width:280px;
}   
.card-img1{
    width:100% ;
    border-radius : 14px;
    padding : 900;
}
.card-img{
    width:50%;
    border-radius: 14px;
     padding: 30px;
     height: 500%;
}    

.card-img3{
    width:50% ;
    border-radius: 10px;
    padding: 40px;
 }  

